body {
	background-color: #333333;
}

div {
	text-align: center;
}

h1 {
	color: lightgray;
}

h2 {
	color: white;
}

select {
	margin: 8px;
	padding: 4px;
}

input {
	margin: 8px;
	padding: 4px;
}

button {
	margin: 8px;
	padding: 4px;
}

#credits {
	font-size: 7pt;
}